<section class="sec1 container">
    <div class="sec1-text">
        <p class="sec1-text-small">We respect your privacy and your information is 100% secure.</p>
        <div class="sec1-logo sec1-flex-container">
            <img class="logo" src="./assets/img/section-img1.png" alt="logo McAfee">
            <img class="logo" src="./assets/img/section-img2.png" alt="logo VeriSign">
            <img class="logo" src="./assets/img/section-img3.png" alt="logo Symantec">
            <img class="logo" src="./assets/img/section-img4.png" alt="logo GeoTrust">
            <img class="logo" src="./assets/img/section-img5.png" alt="logo SSl">
        </div>
    </div>
    <hr class="hr" />

    <div class="sec1-text-main">
        <p>Hi! The entire team of the <span class="text-main-title black">dubai lifestyle app</span> App is thriled you've made into the <span class="text-main-title orange">member's area.</span><br /> You're only one step away from finally becoming a beta
            testers and raking in over</p>
        <p><span class="sec1-text-prize">$7,183.82</span> <br /> in profit each and <br />
            <span class="text-main-title orange">every single day</span>
        </p>
        <p>Ready to secure your spot? Watch the video and fill out the form right now to get your <span class="text-main-title orange">free copy</span>on the <span class="text-main-title black">dubai lifestyle app</span> activeted!</p>
        <div class="sec1-team">
            <img class="" src="./assets/img/section2-img1.png" alt="Team" />
            <p>Your friend <br /> the <span class="text-main-title black">dubai lifestyle app</span> team
            </p>
        </div>
    </div>
    <hr class="hr" />

    <div class="sec1-text-main ">
        <h3 class="text-main-title-brown">Start Profiting in <span class="bold"> 3 Simple Steps </span></h3>
        <div class="sec1-text-item layout">
            <div class="number"> 1 </div>
            <div class="text-item-content">Continue the registration form with your details and put submit</div>
        </div>
        <div class="sec1-text-item layout">
            <div class="number"> 2 </div>
            <div class="text-item-content">Deposit the min sum brokers requirment of at least $250 to activate your account</div>
        </div>
        <div class="sec1-text-item layout">
            <div class="number"> 3 </div>
            <div class="text-item-content">After descripting your funds, you will resive an email from me with details or how to log into your account and our recomended broke will manage your account and start making you the orotits you wanted are decerve</div>
        </div>
    </div>
    <hr class="hr" />

    <div class="sec1-text-main">
        <h3 class="text-main-title-brown">Here What you Get When You Register</h3>
        <p>As soon as you enter your conect details in the form below, you get instant access <br /> to all of the benefits and resources ofered to members of our inner circle</p>
        <div class="sec1-text-flex-container">
            <div class="sec1-text-item card">
                <img class="card-img" src="./assets/img/section3-img3.png" alt="profits 1" />
                <div class="left">
                    <h4 class="title-item orange">Auto-Trade Functionality</h4>
                    <p>Make 99.8% accurate trades without the Insasle. Just select. Let auto-trade fulfet on and let the profits roll in. Or you can simply make your own tredes using our manual option.</p>
                </div>
            </div>
            <div class="sec1-text-item card">
                <img class="card-img" src="./assets/img/section3-img1.png" alt="profits 2" />
                <div class="left">
                    <h4 class="title-item orange">VIP Members Area</h4>
                    <p>Connect with the worlswide owners of the Dubai Lifestyle App. Here you cariase queastions, share stories and comment about your profits</p>
                </div>
            </div>
        </div>
        <div class="sec1-text-flex-container">
            <div class="sec1-text-item card">
                <img class="card-img" src="./assets/img/section3-img2.png" alt="profits 3" />
                <div class="left">
                    <h4 class="title-item orange">24/7 Support</h4>
                    <p>It's easy to each us! Get your questions answered any day any time by our friendly customer support manager</p>
                </div>
            </div>
            <div class="sec1-text-item card">
                <img class="card-img" src="./assets/img/section3-img4.png" alt="profits 4" />
                <div class="left">
                    <h4 class="title-item orange">Members-Only Newslatter</h4>
                    <p>Get exclusive access to incusory insights and quick and effective tibs you can use to maximaze your profits</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr" />
</section>