body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    margin: 0;
    padding: 0;
    height: 580px;
    position: relative;
}

.big-img {
    margin: 0;
    padding: 0;
    background: url('../../assets/img/header-img1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}


/*
.nav {
    margin: 0;
    padding: 0;
    background: rgba(153, 153, 153, 0.692);
    position: relative;
    color: white;
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin: 8px 4px;
    padding: 6px 4px;
    display: inline;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
}

.left {
    width: 25%;
    text-align: left;
    float: left;
    line-height: 1.25;
}

.nav-item-title-left {
    margin: 0;
    padding: 0 6px;
    font-size: 36px;
    display: inline;
    float: left;
}

.nav-img1 {
    padding: 2px 4px 0 4px;
    height: 20px;
}

.center {    
    margin: 0 auto;
    padding: 16px 16px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    word-spacing: 0.175em;
}

.right {
    width: 30%;
    text-align: right;
    float: right;
    line-height: 1.4;
}

.nav-item-title-right {
    margin: 0;
    padding: 0px 6px;
    font-size: 36px;
    display: inline;
    float: right;
}
*/

.container {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

.header-title {
    margin: 0;
    padding: 0;
    width: 100%;
    display: relative;
    font-size: 36px;
    text-align: center;
    font-family: "Khand", sans-serif;
    color: rgb(255, 255, 255);
}

.title {
    text-transform: uppercase;
}

.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
    padding: 0;
    width: 100%;
}

.flex-item1 {
    width: 60%;
}

.video {
    background: black;
    height: 420px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#sm-video {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

.flex-item2 {
    width: 40%;
}

.retrive {
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
}

.retrive-items {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
}

.retrive-user {
    width: 100%;
    padding: 18px;
    margin: 0px 0 12px 0;
    border: none;
    border-radius: 6px;
    background: #f1f1f1;
}


/* Add styles to the form container */

.form-container {
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 18px;
    margin: 0px 0 12px 0;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}

.input-flex-container {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
}

.input-flex-container>input {
    width: 20%;
}

.input-flex-container>.input-phone {
    width: 20%;
    margin: 0 0 10px 16px;
}


/* Set a style for the submit button */

.btn {
    padding: 12px 20px;
    color: #502922;
    border: 10px solid #b8b2be;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    background-color: #ffd06a;
    background-image: linear-gradient(#ffd06a, #ffae00);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    opacity: 0.95;
}

.btn:hover {
    opacity: 1;
}

@media screen and (max-width: 1050px) {
    body {
        width: 100%;
        height: 100%;
        display: block;
    }
    .header {
        width: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
        padding: 60px 12px 0 12px;
    }
    .header-flex-container {
        flex-direction: row;
    }
    .flex-item1 {
        width: 100%;
    }
    .video {
        width: 100%;
    }
    .flex-item2 {
        width: 100%;
        padding: 0 0 0 12px;
    }
    .form-container {
        padding: 0;
    }
    .big-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 580px;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    body {
        width: 100%;
        height: 100%;
        display: block;
    }
    .header {
        width: 100%;
        height: 980px
    }
    .container {
        width: 100%;
        height: 100%;
        padding: 60px 12px 0 12px;
    }
    .header-flex-container {
        flex-direction: column;
    }
    .retrive {
        padding: 0;
    }
    .flex-item1 {
        width: 100%;
    }
    .video {
        width: 100%;
    }
    .flex-item2 {
        width: 100%;
        padding: 12px 0;
    }
    .form-container {
        padding: 0;
    }
    .big-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 980px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        display: block;
    }
    .header {
        width: 100%;
        height: 1050px;
    }
    .container {
        width: 100%;
        height: 100%;
        padding: 60px 0 0 0;
    }
    .header-title {
        padding: 8px 16px;
    }
    .header-flex-container {
        flex-direction: column;
        padding: 0 16px;
    }
    .flex-item1 {
        width: 100%;
    }
    .video {
        width: 100%;
    }
    .flex-item2 {
        width: 100%;
        padding: 12px 0;
    }
    .form-container {
        padding: 0;
    }
    .big-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1050px;
        width: 100%;
    }
    .btn {
        font-size: 22px;
    }
}